<div class="row">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-title">
        <h4>Forgot Password</h4>

      </div>
      <div class="card-body">
        <div class="basic-form col-md-4 offset-4">
          <%= form_tag '/forgot/password' do %>
            <div class="form-group">
              <p>
                <%= label_tag :email %><br>
                <%= text_field_tag :email, "", :class => 'form-control input-flat' %>
              </p>
            </div>
            <p class="text-center">
              <%= submit_tag "Submit", {:class => 'btn btn-info'} %>
            </p>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
