<div class="row">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-title">
        <h4>Login</h4>

      </div>
      <div class="card-body">
        <div class="basic-form col-md-4 offset-4">
          <%= form_tag '/login' do %>
            <div class="form-group">
              <p>
                <%= label_tag :email %><br>
                <%= text_field_tag :email, "", :class => 'form-control input-flat' %>
              </p>
            </div>
            <div class="form-group">
              <p>
                <%= label_tag :password %><br>
                <%= password_field_tag(:password, "", {:class => 'form-control input-flat'}) %>
              </p>
            </div>
            <div class="row zero-margin-row">
              <%= link_to "(forgot password)", forgot_password_path %>
              <p style="margin-left: 20px;margin-right: 20px;"> | </p>
              <p>New user? <%= link_to "Sign up now!", '/signup' %></p>
            </div>
            <p class="text-center">
              <%= submit_tag "Login", {:class => 'btn btn-info'} %>
            </p>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
