<div class="row">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-title">
        <h4>Reset Password</h4>

      </div>
      <div class="card-body">
        <div class="basic-form col-md-4 offset-4">
          <%= form_for :user, url: '/reset/password' do |f| %>
            <%= f.hidden_field :reset_token, :value => @token %>
            <div class="form-group">
              <p>
                <%= f.label :password %><br>
                <%= f.password_field(:password, {:class => 'form-control input-flat'}) %>
              </p>
            </div>
            <div class="form-group">
              <p>
                <%= f.label :password_confirmation %><br>
                <%= f.password_field(:password_confirmation, {:class => 'form-control input-flat'}) %>
              </p>
            </div>
            <p class="text-center">
              <%= submit_tag "Submit", {:class => 'btn btn-info'} %>
            </p>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
