<div class="row">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-title">
        <h4>Sign up</h4>

      </div>
      <div class="card-body">
        <div class="basic-form col-md-6 offset-3">
          <%= form_for :user, url: signup_path do |f| %>
            <div class="form-group">
              <p>
                <%= f.label :name %><br>
                <%= f.text_field(:name, {:class => 'form-control input-flat'}) %>
              </p>
            </div>
            <div class="form-group">
              <p>
                <%= f.label :email %><br>
                <%= f.text_field(:email, {:class => 'form-control input-flat'}) %>
              </p>
            </div>
            <div class="form-group">
              <p>
                <%= f.label :mobile %><br>
                <%= f.text_field(:mobile, {:class => 'form-control input-flat'}) %>
              </p>
            </div>
            <div class="form-group">
              <p>
                <%= f.label :password %><br>
                <%= f.password_field(:password, {:class => 'form-control input-flat'}) %>
              </p>
            </div>
            <div class="form-group">
              <p>
                <%= f.label :password_confirmation %><br>
                <%= f.password_field(:password_confirmation, {:class => 'form-control input-flat'}) %>
              </p>
            </div>
            <p class="text-center">
              <%= f.submit({:class => 'btn btn-info'}) %>
            </p>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>