<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
</head>
<body>
<h1>Hi <%= @user.name %></h1>
<p>
  This mail if for your email confirmation.

  <br>
  <a href="http://localhost:3000/email/confirmation?token=<%= @user.email %>">
    <button style="padding: 10px 20px; border: black solid 1px;cursor: pointer; background: white;color: black;">Verify
      Email
    </button>
  </a>
</p>
</body>
</html>