<div class="row">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-title">
        <h4>Edit User</h4>

      </div>
      <div class="card-body">
        <div class="basic-form">
          <%= form_for :user, url: users_path(:id => @user.id), method: :patch do |f| %>
            <div class="form-group">
              <p>
                <%= f.label :name %><br>
                <%= f.text_field(:name, {:class => 'form-control input-flat'}) %>
              </p>
            </div>
            <div class="form-group">
              <p>
                <%= f.label :email %><br>
                <%= f.text_field(:email, {:class => 'form-control input-flat'}) %>
              </p>
            </div>
            <div class="form-group">
              <p>
                <%= f.label :mobile %><br>
                <%= f.text_field(:mobile, {:class => 'form-control input-flat'}) %>
              </p>
            </div>
            <p>
              <%= f.submit({:class => 'btn btn-info'}) %>
            </p>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>