<div class="row">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-title">

        <h4>Users list </h4>
        <div class="row pull-right">
          <div class="add-user-btn">
            <%#= link_to 'Download Excel', download_excel_path(format: "xls"), :class => 'btn btn-danger' %>
            <%= link_to 'Add new user', new_users_path, :class => 'btn btn-info' %>
          </div>
        </div>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table">
            <thead>
            <tr>
              <th>Name</th>
              <th>Email</th>
              <th>Mobile</th>
              <th></th>
            </tr>
            </thead>
            <tbody>

            <% @users.each do |user| %>
              <tr>
                <td><%= user.name %></td>
                <td><span><%= user.email %></span></td>
                <td><span><%= user.mobile %></span></td>
                <td>
                  <a href=""><%= link_to 'Edit', edit_users_path(:id => user.id), :class => 'btn btn-info btn-edit' %></a>
                  <a href=""><%= link_to 'Delete', users_path(:id => user.id),
                                         method: :delete,
                                         data: {confirm: 'Are you sure?'},
                                         :class => 'btn btn-danger' %></a>
                </td>
              </tr>
            <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>

  </div>
</div>