<div class="row">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-title">

        <h4>Extended Contact list </h4>
      </div>
      <div class="card-body extended-contact-body">
        <div class="table-responsive">
          <table class="table">
            <thead>
            <tr>
              <th>Name</th>
              <th>Phone No</th>
            </tr>
            </thead>
            <tbody>

            <% @usercontactids.each do |contact| %>
              <tr>
                <td><%= contact.name %></td>
                <td><span><%= contact.phone_no %></span></td>
              </tr>
            <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>

  </div>
</div>