<div class="row">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-title">

        <h4>Contact list </h4>
        <div class="row pull-right">
          <div class="add-user-btn">
            <%= link_to 'Extended contacts', contacts_extended_path, :class => 'btn btn-info' %>
            <%= link_to 'Add new contacts', new_contacts_path, :class => 'btn btn-info' %>
          </div>
        </div>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table">
            <thead>
            <tr>
              <th>Name</th>
              <th>Mobile</th>
              <th></th>
            </tr>
            </thead>
            <tbody>

            <% @contacts.each do |contact| %>
              <tr>
                <td><%= contact.name %></td>
                <td><span><%= contact.phone_no %></span></td>
                <td>
                  <a href=""><%= link_to 'Edit', edit_contacts_path(:id => contact.id), :class => 'btn btn-info btn-edit' %></a>
                  <a href=""><%= link_to 'Delete', contacts_path(:id => contact.id),
                                         method: :delete,
                                         data: {confirm: 'Are you sure?'},
                                         :class => 'btn btn-danger' %></a>
                </td>
              </tr>
            <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>

  </div>
</div>