<div class="row">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-title">
        <h4>Add new contact</h4>

      </div>
      <div class="card-body">
        <div class="basic-form col-md-5">
          <%= form_for :contact, url: '/contacts' do |f| %>
            <div class="form-group">
              <p>
                <%= f.label :name %><br>
                <%= f.text_field(:name, {:class => 'form-control input-flat'}) %>
              </p>
            </div>
            <div class="form-group">
              <p>
                <%= f.label :phone_no %><br>
                <%= f.text_field(:phone_no, {:class => 'form-control input-flat'}) %>
              </p>
            </div>
            <%= f.hidden_field :user_id, :value => current_user.id %>
            <p>
              <%= f.submit({:class => 'btn btn-info'}) %>
            </p>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>