<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
</head>
<body>
<h1>Hi <%= @user.name %></h1>
<p>
  Please click on the button below to reset your password.

  <br>
  <a href="http://localhost:3000/reset/password?token=<%= @user.reset_token %>">
    <button style="padding: 10px 20px; border: black solid 1px;cursor: pointer; background: white;color: black;">Reset
      Password
    </button>
  </a>
</p>
</body>
</html>