/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import 'bootstrap';

.card {
  background: #ffffff none repeat scroll 0 0;
  margin: 15px 0;
  padding: 20px;
  border: 0 solid #e7e7e7;
  border-radius: 5px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
  word-wrap: break-word;
  -webkit-box-direction: normal;
}

.card-title {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  margin-bottom: .75rem;
}

.card-body {
  padding: 20px;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  //border: 1px solid #dedede;
}

.add-user-btn {
  position: absolute;
  top: 25px;
  right: 40px;
}

.card-two {
  position: relative;
  margin: 0 !important;
  border: 0;
}

.card-two .desc {
  padding: 0 1rem 2rem;
  text-align: center;
  line-height: 1.5;
  color: #777;
}

.card-two .contacts {
  width: 200px;
  max-width: 100%;
  margin: 0 auto 3.5rem;
}

.card-two h3 {
  position: relative;
  margin: 80px 0 30px;
  text-align: center;
}

.card-two header .avatar {
  position: absolute;
  left: 50%;
  top: 30px;
  margin-left: -50px;
  z-index: 5;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
  background: #ccc;
  border: 3px solid #fff;
}

.card-two header .avatar img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 100px;
  height: auto;
}

.card-two header {
  position: relative;
  width: 100%;
  height: 60px;
}

.card-two h3::after {
  content: '';
  position: absolute;
  bottom: -15px;
  left: 50%;
  margin-left: -15px;
  width: 30px;
  height: 1px;
  background: #000;
}

.btn-edit {
  padding-left: 25px;
  padding-right: 25px;
}

.zero-margin-row {
  margin-left: 0px;
}

.user-edit-image {
  width: 350px;
  margin-top: 20px;
}

.data-entry-margin {
  margin-top: 20px;
}

.multiple-entry-heading {
  font-weight: bold;
  margin-bottom: 10px;
}

.multiple-entry-dropdown {
  border: 0px;
  width: 100%;
  height: 40px;
  background: #F3F3F3;
  color: grey;
  padding-left: 10px;
}

.full-name-input {
  width: 100%;
  height: 40px;
  background: #E6EBEF;
  border: 0px;
  padding-left: 10px;
}

.management-navbar {
  background: #fd7133;

}

body.dashboard-theme .management-navbar {
  display: none;
}

.management-navbar .logo-icon-container {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  background: white;
  padding: 5px;
  border: 1px solid black;

  display: inline-block;
}

.management-navbar.navbar-default .navbar-brand {
  color: white;
  padding: 10px 15px;
  position: relative;
}

.management-navbar.navbar-default .navbar-brand .logo-name {
  position: absolute;
  top: 15px;
  left: 50px;
  display: inline-block;
  width: max-content;
}

.management-navbar.navbar-default .navbar-nav > li > a {
  color: white;
}

body.management-theme {
  min-height: 100vh;
  background: #d7d9dc;
}

body.management-theme .dashboard-navbar {
  display: none;
}

body.management-theme .top-header {
  display: none;
}

.data-entry-multiple-body {
  background: white !important;
}

.logo-icon {
  width: 18px;
  position: absolute;
}

.new {
  display: contents;
}

.auth-action {
  text-align: right;
  color: white;
}

.new a {
  color: white;
  font-weight: bolder;
}

.btn-primary {
  color: #fff;
  background-color: #f06d54;
  border: 1px solid #f06d54;
  padding: 5px 20px;
  border-radius: 10px;
}

.btn-primary:hover,
.btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus {
  color: #fff;
  background-color: #ea6d55;
  border: 1px solid #f06d54;
  outline: none;
}

.data-entry-multiple-submit {
  border-radius: 5px;
  background: #fd7133;
  margin-top: 30px;
  margin-bottom: 20px;
  padding: 10px 30px;
}

.extended-contact-body{
  margin: 0 20%;
}