<!DOCTYPE html>
<html>
<head>
  <title>RORApp</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body class="management-theme data-entry-multiple-body">
<nav class="navbar navbar-default navbar-fixed-top management-navbar">
  <div class="container-fluid justify-content-center">
    <div class="row new">
      <div class="col-md-5">
        <%= link_to "Contacts", contacts_index_path %>
      </div>
<!--      <div class="col-md-2">-->
        <!--        <a class="navbar-brand" href="../users#index">-->
<!--        <div class="logo-icon-container">-->
          <!--            <img src="bjp.png" class="logo-icon img-responsive" alt="">-->
          <%#= link_to image_tag('bjp.png'), root_path %>
          <%#= image_tag("bjp.png", :alt => "logo", :class => 'logo-icon img-responsive') %>
          <%# end %>
          <%#= link_to home_path do %>
            <%#= image_tag('bjp.png', :alt => "logo", :class => 'logo-icon img-responsive') %>
          <%# end %>
<!--        </div>-->
        <!--        </a>-->
<!--      </div>-->
      <div class="col-md-5 auth-action">
        <% if current_user %>
          Signed in as <%= current_user.name %> | <%= link_to "Logout", '/logout' %>
        <% else %>
          <%= link_to 'Login', '/login' %> | <%= link_to 'Signup', '/signup' %>
        <% end %>
      </div>
    </div>
  </div>
</nav>

<!--<div class="container">-->
<% flash.each do |key, value| %>
  <div class="alert alert-<%= key %>"><%= value %></div>
<% end %>
<%= yield %>
</body>
</html>
